@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .nav_link {
        @apply relative text-base font-medium w-fit block hover:text-[#189677] after:block after:content-[''] after:absolute after:h-[3px] after:backgrounf after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300;
    }
}